<mat-toolbar color='primary' class='navbar'>
  <div>
    <a mat-button href="#" class="nav-link" matTooltip="My Restaurant">
      <mat-icon aria-hidden="false" aria-label="Cafe Icon">local_cafe</mat-icon>
    </a>
  </div>
  <div>
    <span>
      <a mat-button class="nav-link" matTooltip="Home" routerLink="/" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Home Icon">home</mat-icon>
      </a>
    </span>
    <span>
      <a mat-button class="nav-link" matTooltip="About" routerLink="/about" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Description Icon" >description</mat-icon>
      </a>
    </span>
    <span>
      <a mat-button href="#" class="nav-link" matTooltip="GitHub">
        <img src="../../assets/GitHub-Mark-Light-32px.png" alt="GitHub Logo" class="logo"> GitHub
      </a>
    </span>
  </div>
</mat-toolbar>